@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Myanmar";
  src: url("/fonts/NotoSansMyanmar-Regular.ttf") format("truetype");
}

/* Components */
@layer components {
  .theme-container {
    @apply w-full px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-16 2xl:px-2;
  }

  .nav-link {
    @apply focus:text-[#0C40C5] hover:text-[#0C40C5] transition-colors duration-300 ease-linear hover:bg-[#2D34951A] hover:border-b-theme focus:border-b-theme border-b-[3px] border-b-transparent whitespace-nowrap;
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-theme focus-visible:ring-offset-2 focus-visible:xl:!py-[28px];
  }

  .active {
    @apply font-semibold text-theme border-b-theme;
  }

  .heading-1 {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold lg:!leading-[120%];
  }

  .heading-2 {
    @apply text-xl md:text-2xl lg:text-4xl font-bold lg:!leading-[120%];
  }

  .heading-3 {
    @apply text-lg md:text-xl lg:text-2xl font-bold lg:!leading-[140%];
  }

  .content-text {
    @apply text-sm font-normal md:text-base;
  }

  .banner-title {
    @apply text-2xl font-bold capitalize md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-[70px] text-[#020B22] lg:!leading-[130%];
  }

  .contact-form-label {
    @apply block mb-2 text-sm font-medium text-[#344054];
  }

  .input {
    @apply block w-full p-2.5 text-sm rounded-lg shadow-[0_1px_2px_0_#1018280D];
  }

  .input--default {
    @apply input bg-white border border-[#D0D5DD] text-[#344054] 
         placeholder:text-[#667085] focus:ring-theme focus:border-theme;
  }

  .input--error {
    @apply text-red-900 placeholder-red-700 border border-red-500 input bg-red-50 focus:ring-red-500 focus:border-red-500;
  }

  .footer-title {
    @apply text-sm xs:text-base md:text-xl lg:text-2xl font-noto-sans-myanmar font-medium text-theme leading-[150%] tracking-[0px];
  }

  .footer-sub-title {
    @apply font-inter text-base md:text-lg font-[600] leading-[150%] tracking-[1px] capitalize;
  }

  .footer-nav-link {
    @apply underline capitalize transition-colors duration-150 ease-linear underline-offset-4 hover:text-theme focus:outline-none focus:text-theme focus-visible:ring-2 focus-visible:ring-theme focus-visible:ring-offset-2;
  }
}

html {
  @apply font-inter scroll-smooth selection:bg-theme selection:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-ibm-plex-sans;
}
