@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Myanmar";
  src: url("/fonts/NotoSansMyanmar.ttf") format("truetype");
}

/* Components */
@layer components {
  .theme-container {
    @apply w-full px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-16 2xl:px-0;
  }

  .footer-title {
    @apply text-sm xs:text-base md:text-xl font-myanmar-sangam-mn font-semibold text-theme leading-[150%] tracking-[0px] select-none;
  }

  .footer-sub-title {
    @apply text-center sm:text-start font-inter text-base md:text-lg font-[600] leading-[150%] tracking-[1px] capitalize;
  }

  .footer-nav-link {
    @apply underline capitalize transition-colors duration-150 ease-linear underline-offset-4 hover:text-theme focus:outline-none focus:text-theme;
  }
}

html {
  @apply font-inter scroll-smooth selection:bg-theme selection:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-ibm-plex-sans;
}
